{% block style %}
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/films/filmDetail.css" />
{% endblock style%}
<script src="/js/jquery-1.10.2.js"></script>
<script src="/js/films/filmDetail.js"></script>
{% block script %}

<script>
    (function() {
        $(function() {
            return fileUpload();
        });
    }).call(this);

</script>
{% endblock script %}
<div class="filmDetailDiv" id="DetailDiv" data-type="film" data-id="{{id}}">
    <div id="detail_title">
        <span>电影简介</span>
    </div>
    <div id="filmImage" style="width:40%;float:left">
        <div class="" style="width:100%;min-height:200px;padding:0 15px">
            <img id="imgshow" src="" style="max-width:100%"/>
        </div>

        <div class="form-group" id="uploadimg">
            <div class="col-sm-12">
                <button id="uploadClick" class="btn-primary" type="button" onclick="clickupload()" style="width: 100%; height: 30px">选择图片</button>
                <input id="uploadInput" type="file" name="files[]" multiple="multiple" style="display: none"/>
            </div>
        </div>

    </div>
    <div class="filmInfo" id="filmInfo">
        <div class="filmname col-sm-12" id="filmname">
            <span></span>
        </div>
        <div class="filmconstruction col-sm-12" id="filmconstruction">
            <span>
            </span>
        </div>
        <div class="form-group" style="margin-top:10px;">
            <label  class="col-sm-4 control-label">上映时间</label>
            <div class="col-sm-8" id="publishtime">
                <span></span>
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-4 control-label">上映地区</label>
            <div class="col-sm-8" id="publisharea">
                <span></span>
            </div>
        </div>
    </div>

    <div id="actorDiv" class="actorDiv">
        <div id="actor_title">
            <span>演 员 表 (角色  演员)</span>
        </div>
        <div id="actor_list" class="actor_list">
            <div class="actor_info">
                <span class="role_span">江户川柯南</span>
                <span class="actor_span">高山南</span>
            </div>
            <div class="actor_info">
                <span class="role_span">江户川柯南</span>
                <span class="actor_span">高山南</span>
            </div>
            <div class="actor_info">
                <span class="role_span">江户川柯南</span>
                <span class="actor_span">高山南</span>
            </div>
            <div class="actor_info">
                <span class="role_span">江户川柯南</span>
                <span class="actor_span">高山南</span>
            </div>
        </div>
    </div>
    <HR style="border-top: 2px solid #eee;" width="100%" color=#987cb9 SIZE=3>
    <div class="buttonsDiv">
        <button class="btn btn-default" onclick="editFilm()">编辑</button>
    </div>
</div>
{% block lazyscript %}
<script src="/js/vendor/jquery.ui.widget.js"></script>
<script src="/js/jquery.fileupload.js"></script>
{% endblock lazyscript %}