

{% block style %}
<link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/films/filmGroup.css" />
{% endblock style%}

{% block script %}
<script src="/js/films/filmGroup.js"></script>
{% endblock script %}

{% block main %}
<div class="filmGroupDiv" id="filmGroupDiv">
    <div class="groupListDiv" id="groupListDiv" >
        <button type="button" class="btn btn-info" onclick="getFilms()">未分组影片</button>
        <button type="button" class="btn btn-info" onclick="getFilmsInGroup()">分组内影片</button>
    </div>
    <div id="filmListDiv">
        <table class="table table-hover" id="filmListTable">
            <thead>
            <tr>
                <th>影片名称</th>
                <th>创建时间</th>
                <th>地区</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% raw %}

            {% endraw %}
            </tbody>
        </table>
    </div>
</div>
{% endblock main%}
