.head{
    width: 100%;
    margin:auto;
    height:40px;
    opacity:0.5;
    background-color: #7aba7b;
}

.advert{
    width:100%;
    height:250px;
    background-image: url("/images/head_bg.jpg");
}

.main_content{
    width:1000px;
    min-height:600px;
    border:1px solid black;
    margin:20px auto 20px auto;
    padding:20px;
}

.title_line{
    text-align: center;
    font-size: 18px;
    font-family: "Microsoft YaHei";
    background-color: gray;
    color: #ffffff;
    margin: 0 0px 10px 0px;
}

.titles{
    font-size:20px;
    color:blue;
    width:60px;
    height:40px;
    line-height: 40px;
    text-align: center;
    margin:auto auto auto 20px;
    float:left;
    cursor:pointer;
}

.titles span{
    font-family: "Microsoft YaHei" ! important;
}

.home_content{
    width:70%;
    height: 650px;
    border:1px solid black;
    margin:20px auto 20px auto;
}

.bottom{
    width:100%;
    height:100px;
    background-color: #3c9cd3;
}

.modules{
    position:relative;
    border:1px solid black;
    width:30%;
    min-height: 620px;
    margin:1.5%;
    float:left;
}

.list_title{
    position:absolute;
    top:-10px;
    left:10px;
    background-color: white;
}

.main_lists{
    margin:20px;
}

.infos{
    text-align: center;
    margin:auto;
    vertical-align: middle;
    line-height: 40px;
}

.active{
    background-color: white;
}

.titleBtns{
    width:50%;
    margin:auto;
    height:40px
}

.loginBtns{
    float:right;
    line-height: 40px;
}

.constructions{
    width: 100%;
    padding: 10px 10px;
    min-height: 350px;
}

.img_left{
    float:left;
    width:300px;
    min-height: 300px;

}

.info_right{
    float:left;
    width:615px;
    min-height: 300px;
    margin-left: 20px;

}

.info_table{
    width:100%;
}

.info_table tr{
    height:40px;
}

.t_title{
    font-size: 16px;
    font-family: "microsoft yahei";
    font-weight: bold;
    width: 20%;
    text-align: right;
    vertical-align: top;
}

.t_content{
    font-size: 16px;
    font-family: "microsoft yahei";
    width: 90%;
    text-align: left;
    padding-left: 20px;
    vertical-align: top;
}

.specialImage{
    max-width: 100%;
}