{% extends 'layout.html' %}


{% block style %}
<link href="css/jquery.fileupload.css" rel="stylesheet" />

{% endblock style%}

{% block script %}

<script>


	(function() {
		$(function() {
			return fileUpload();
		});
		$(function() {
			return compressAndUpload();
		});
		this.isSave = true;
		return window.onbeforeunload = function() {
			if (!isSave) {
				return '正在上传文件，重新加载或关闭此网页将取消上传，是否确定重新加载或关闭此网页';
			}
		};
	}).call(this);

</script>

{% endblock script %}

{% block main %}


<div id="operateMediaArea">




		<form class="container fixed-width" id=" ">
			<input id="uploadInput" type="file" name="" multiple="multiple" style="width: 100px; height: 30px"/>

		</form>

</div>


{% endblock main%}

{% block lazyscript %}

<script src="/js/vendor/jquery.ui.widget.js"></script>
<script src="/js/jquery.fileupload.js"></script>
<script src="/js/gbvision.js"></script>
<script src="/js/media.js"></script>

{% endblock lazyscript %}