{% extends 'layout.html' %}


{% block style %}

{% endblock style%}

{% block script %}
{% endblock script %}

{% block main %}

<div id="home_content" class="home_content">
    <div id="list_films" class="modules">
        <span class="list_title">电影区</span>
        <div id="films" class="main_lists">
        </div>
    </div>

    <div id="list_books" class="modules">
        <span class="list_title">书籍区</span>
    </div>

    <div id="list_musics" class="modules">
        <span class="list_title">音乐区</span>
    </div>
</div>

{% raw %}
{% endraw %}

{% endblock main%}

{% block lazyscript %}
{% endblock lazyscript %}