.filmDetailDiv{
    width:80%;
    margin:auto
}

.filmInfo{
    padding: 0 10px;
    width: 60%;
    float:left
}

.form-group{
    min-height: 10px;
}

.filmname{
    font-family: "Microsoft YaHei";
    font-size:16px;
    font-weight: bold;
}

.actorDiv{
    padding: 0 15px;
    margin-top: 10px;
    width: 100%;
    min-height:40px;
    clear: both;
}

.actor_list{
    width:100%;
    position:relative;

}

#actor_title{
    text-align: center;
    font-size: 18px;
    font-family: "Microsoft YaHei";
    background-color: gray;
    color: #ffffff;
}

#detail_title{
    text-align: center;
    font-size: 18px;
    font-family: "Microsoft YaHei";
    background-color: gray;
    color: #ffffff;
    margin: 0 15px 10px 15px;
}

.actor_info{
    padding: 0 30px 0 10px;
    width:50%;
    height: 40px;
    line-height: 40px;
    float:left;
}

.role_span{
    float: left;
    font-weight: bold;
}

.actor_span{
    float: right;
    color: #0000ff;
}

.buttonsDiv{
    width:100%;
    min-height: 50px;
    margin-bottom: 20px;
    text-align: center;
}